{# page histoire #}

{% extends 'base.html.twig' %}

{% block title %}VirtySens | Notre histoire{% endblock %}

{% block body %}


    <!--main start-->
    <main class="histoire container-fluid mb-5">
        <!--section 1 qui sommes nous start-->
        <section class="histoire-section-1 container mx-auto text-center mt-5">
            <div class="row">
                <h3 class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    Qui sommes-nous ?
                </h3>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto text-center">
                    <p class="mx-auto text-left col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 mt-3">
                        VirtySens est une Start-up, issue d’Eurasanté et d’Euratechnologies Lille,
                        qui <span class="font-weight-bolder">développe</span> et <span class="font-weight-bolder">fabrique</span> dans les Hauts-de-France
                        un dispositif multi-sensoriel innovant.
                    </p>
                    <p class="mx-auto text-left col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 mt-3">
                        Nous nous sommes donnés pour mission d’apporter de la <span class="font-weight-bolder">Relaxation</span> et du <span class="font-weight-bolder">Bien-être</span>
                        à des personnes fragilisées,
                        qui font face à des problématiques d’isolement, de souffrance psychologique, de troubles cognitifs ou intellectuels, et de motricité réduite.
                    </p>
                    <p class="mx-auto text-left col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 mt-3">
                        Tout au long du projet, nous avons adoptés une approche <span class="font-weight-bolder">TechForGood</span>:
                        tous les choix techniques et technologiques opérés ont toujours été dictés par la seule satisfaction des utilisateurs !
                    </p>
                </div>
            </div>
        </section>
        <!--section 1 qui sommes nous stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--section 2 notre histoire start-->
        <section class="histoire-section-2 container mx-auto text-center">
            <div class="row mx-auto text-center">
                <div class="histoire-section-2-item mx-auto row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <h3 class="mx-auto mb-5 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Tout a commencé en 2013...</h3>
                </div>
                <div class="row mx-auto text-center">

                    <div class="histoire-section-2-item mx-auto col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-center">
                        <figure class="mt-1">
                            <img src="{{  asset('assets/img/histoire1.jpg') }}" loading="lazy" alt="photo de Xavier Melin a lancé le projet de capsule immersive multi-sensorielle en 2013"
                                 title="photo de Xavier Melin a lancé le projet de capsule immersive multi-sensorielle en 2013"
                                 class="histoire-section-2-img-pc img-fluid border border-dark rounded">
                            <figcaption class="hidden">photo de Xavier Melin a lancé le projet de capsule immersive multi-sensorielle en 2013</figcaption>
                        </figure>
                        <p class="histoire-img-legend text-left mx-auto my-auto text-info" style="text-align: left !important;">
                            Xavier Melin, Fondateur de Virtysens.
                        </p>
                    </div>

                    <div class="histoire-section-2-item-1 mx-auto text-center col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6">
                        <p class="text-left">
                            Xavier Melin, papa d’une petite Lilou et manager commercial dans une grande société, avait un parcours réussi et une vie épanouie.
                        </p>
                        <p class="text-left">
                            Pourtant, <span class="font-weight-bolder">sa vie a basculé par amour pour sa fille</span>…
                        </p>
                        <p class="text-left">
                            Autiste, sa fille Lilou est dé-scolarisée dès ses 7 ans, et doit être placée à l’hôpital de façon permanente,
                            puis de façon partielle en alternance avec le domicile familial.
                        </p>
                        <p class="text-left">
                            Il a alors une idée en tête : développer un dispositif multi-sensoriel pour sa fille,
                            afin de lui faire <span class="font-weight-bolder">ressentir de nouvelles sensations</span>,
                            de la <span class="font-weight-bolder">canaliser</span>,
                            et de <span class="font-weight-bolder">lui faire découvrir</span> de nouveaux horizons.
                        </p>
                        <p class="text-left">
                            Le projet VirtySens était lancé !
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--section 2 notre histoire stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--citation 1 start-->
        <section class="citation-container container-fluid mx-auto my-auto">
            <div class="row mx-auto text-center">
                <p class="citation mx-auto text-center col-12 col-sm-12 col-md-11 col-lg-10 col-xl-10">
                    “Tout est synchronisé pour apporter une immersion multi-sensorielle en 360 degrés.“
                </p>
            </div>
        </section>
        <!--citation 1 stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--section 3 avec photo prototype start-->
        <section class="histoire-section-2 container mx-auto text-center">
            <div class="row mx-auto text-center">

                <div class="histoire-section-2-item-1 produits-item-texte mx-auto col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6 my-auto">
                    <p class="text-left">
                        Passionné de jeux vidéos et de réalité virtuelle, Xavier sait d’emblée que
                        <span class="font-weight-bolder">ce challenge est à sa portée</span>, pour peu qu’il sache bien s’entourer.
                    </p>
                    <p class="text-left">
                        Au-delà de réaliser cette prouesse technique pour l’éveil et le bien-être de Lilou,
                        Xavier souhaite que
                        <span class="font-weight-bolder">le plus grand nombre de personnes fragilisées</span> puisse profiter de son innovation :
                        les personnes confrontées à l’isolement d’une chambre d'hôpital, d’EHPAD ou d’établissement spécialisé, celles en souffrance psychologique,
                        ou celles handicapées par une déficience motrice, intellectuelle ou sensorielle.
                    </p>
                    <p class="text-left">
                        Les retours des premiers prototypes sont très encourageants. Xavier se tourne alors vers l’incubateur d’Euratechnologies,
                        à Lille puis à Saint-Quentin,
                        <span class="font-weight-bolder">pour faire grandir et accélérer son projet ambitieux.</span>
                    </p>
                </div>

                <div class="histoire-section-2-item mx-auto col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-start">
                    <figure class="mt-3">
                        <img src="{{  asset('assets/img/histoire2.jpg') }}" loading="lazy" alt="photo de l’un des nombreux prototypes ayant servi à valider le concept VirtySens"
                             title="l’un des nombreux prototypes ayant servi à valider le concept VirtySens"
                             class="histoire-section-2-img-pc img-fluid border border-dark rounded">
                        <figcaption class="hidden">l’un des nombreux prototypes ayant servi à valider le concept VirtySens</figcaption>
                    </figure>
                    <p class="histoire-img-legend text-left mx-auto mt-2 text-info">
                        L’un des nombreux prototypes ayant
                        servi à valider le concept.
                    </p>
                </div>

            </div>
        </section>
        <!--section 3 avec photo prototype stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--section 4 fondateurs start-->
        <section class="histoire-section-4 container mx-auto text-center">
            <div class="row mx-auto text-center">

                <div class="histoire-section-2-item mx-auto col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 d-flex flex-column justify-content-around align-items-start">
                    <figure class="mt-4">
                        <img src="{{  asset('assets/img/histoire3.jpg') }}" loading="lazy" alt="photo des fondateurs de virtysens, guidés par les experts d’Euratechnologies, VirtySens prend une nouvelle dimension"
                             title="Guidé par les experts d’Euratechnologies, VirtySens prend une nouvelle dimension"
                             class="histoire-section-2-img-pc img-fluid border border-dark rounded">
                        <figcaption class="hidden">Guidé par les experts d’Euratechnologies, VirtySens prend une nouvelle dimension</figcaption>
                    </figure>
                    <p class="histoire-img-legend text-left mx-auto mt-3 text-info" style="text-align: left !important;">
                        Guidé par les experts d’Euratechnologies,
                        VirtySens prend une <br> nouvelle dimension.
                    </p>
                </div>


                <div class="histoire-section-2-item-1 produits-item-texte mx-auto col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6 my-auto">
                    <p class="text-left">
                        Les équipes de l’incubateur lillois lui ouvrent leurs réseaux, et rapidement Xavier s’entoure de spécialistes pour concevoir et concrétiser un projet plus évolué.
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bolder">Il rencontre ainsi son premier associé</span>,
                            Ludovic Wiart, qui va concevoir de A à Z la première carte électronique et l’interface logicielle.
                    </p>
                    <p class="text-left">
                        L’accès au TechShop de Lille, <span class="font-weight-bolder">immense Fab-Lab</span>
                        partenaire d'Euratechnologies, <span class="font-weight-bolder">lui permet de façonner</span>
                        une ossature d’abord réalisée en bois,
                        et les premières pièces des boîtiers multi-sensoriels par impression 3D.
                    </p>
                    <p class="text-left">
                        <span class="font-weight-bolder">Emballé par le projet et les impacts</span>,
                        Guillaume Lucas propose son soutien à Xavier pour établir le Business Plan et pour monter le plan de financement.
                    </p>
                    <p class="text-left">
                        Tous les éléments sont alors réunis pour faire décoller la capsule VirtySens !
                    </p>
                </div>

            </div>
        </section>
        <!--section 4 fondateurs stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->


        <!--section 5 avec photo des deux fondateurs start-->
        <section class="histoire-section-5 container mx-auto text-center">
            <div class="row mx-auto text-center">
                <div class="histoire-section-5-item-1 produits-item-texte mx-auto col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6 my-auto">
                    <p class="text-left">
                        <span class="font-weight-bolder">Tous les défis techniques</span> et technologiques <span class="font-weight-bolder">ont été relevés</span>,
                        pour que la synchronisation entre les différents effets (odeurs, vents chauds et froids,
                        images en HD et son binaural) et le confort de chacun puissent être au rendez-vous.
                    </p>
                    <p class="text-left my-2">
                        <span class="font-weight-bolder">L’immersion est totale</span>,
                        au service d’une expérience relaxante et apaisante.
                    </p>
                    <p class="text-left my-2">
                        Tout au long du processus de développement, les futurs utilisateurs (patients comme personnel soignant) ont été interrogés,
                        sondés et écoutés et ils ont pu tester les différentes avancées et options retenues au fil de l’eau.
                    </p>
                    <p class="text-left my-2">
                        Ainsi, aujourd’hui, la capsule immersive VirtySens peut-elle apporter de la Relaxation et du Bien-être à un maximum de personnes,
                        <span class="font-weight-bolder">quels qu'en soient leur condition et leur besoin</span>…
                    </p>
                    <p class="text-left mt-2">
                        Ce qui est conforme au projet initial de Xavier, et ce qui ravit toute l’équipe VirtySens… et ses nombreux Clients !
                    </p>
                </div>
                <div class="histoire-section-5-item mx-auto col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-center">
                    <figure class="mt-1">
                        <img src="{{ asset('assets/img/histoire4.jpg') }}" loading="lazy" alt="photo des 3 co-fondateurs de la SAS VirtySens au TechShop de Lille"
                             title="Les 3 co-fondateurs de la SAS VirtySens au TechShop de Lille"
                             class="histoire-section-4-img-pc img-fluid border border-dark rounded">
                        <figcaption class="hidden">Les 3 co-fondateurs de la SAS VirtySens au TechShop de Lille</figcaption>
                    </figure>
                    <p class="histoire-img-legend text-left mx-auto my-auto text-info">
                        Les 3 co-fondateurs de la SAS VirtySens au TechShop de Lille.
                    </p>
                </div>
            </div>
        </section>
        <!--section 5 avec photo des deux fondateurs stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--citation 2 start-->
        <section class="citation-container container-fluid mx-auto">
            <div class="row mx-auto text-center">
                <p class="citation mx-auto text-center col-12 col-sm-10 col-md-10 col-lg-12 col-xl-10">
                    “Notre fierté réside également dans notre implantation <br> au cœur de l’ex-bassin minier du Douaisis. <br><br>
                    C’est précisément à Somain que nous avons installé notre atelier et <br> notre showroom,  avec de nombreux emplois locaux à la clé !”
                </p>
            </div>
        </section>
        <!--citation 2 stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--section 4 avec deux colonnes start-->
        <section class="histoire-section-3 container my-1 mx-auto text-center">
            <div class="row mx-auto text-center">

                <!--item 1 start-->
                <div class="histoire-section-4-item mx-auto row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="histoire-section-4-item-2 mx-auto col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-center">
                        <figure>
                            <img src="{{ asset('assets/img/atelier1.jpg') }}" loading="lazy"
                                 alt="photo montrant que Tout est fabriqué dans l’atelier de Somain, y compris la carte électronique des dispositifs VirtySens"
                                 title="Tout est fabriqué dans l’atelier de Somain, y compris la carte électronique des dispositifs VirtySens"
                                 class="histoire-section-4-img-pc img-fluid border border-dark rounded">
                            <figcaption class="hidden">Tout est fabriqué dans l’atelier de Somain, y compris la carte électronique des dispositifs VirtySens.
                            </figcaption>
                        </figure>
                        <p class="histoire-section-4-img-pc produits-img-legend text-left mx-auto my-auto text-info">
                            Tout est fabriqué dans notre atelier de Somain,<br>
                            y compris la carte éléctronique de Virtysens.
                        </p>
                    </div>
                    <div class="histoire-section-4-item-1 produits-item-texte mx-auto col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 my-auto">
                        <p class="text-left">
                            Un choix fort a été fait dès l’origine = <span class="font-weight-bolder">intégrer en interne</span>
                            la quasi totalité du processus de fabrication, avec 2 objectifs majeurs :
                            <span class="font-weight-bolder">maîtriser la qualité</span>
                            de fabrication des appareils (tout comme les délais) et <span class="font-weight-bolder">offrir un emploi</span>
                            qualifié et polyvalent à un maximum de personnes de notre bassin local.
                        </p>
                        <p class="text-left">
                            Nous sommes ainsi <span class="font-weight-bolder">autonomes</span> pour la conception, la fabrication et la programmation de notre carte électronique,
                            que nous avons déjà su faire évoluer à plusieurs reprises avec beaucoup de <span class="font-weight-bolder">réactivité</span>.
                        </p>
                        <p class="text-left">
                            Nous maîtrisons également en interne l’assemblage et le cablage électrique de notre capsule, tout comme la fabrication des boîtiers multisensoriels et
                            la programmation des différentes interfaces logicielles.
                        </p>
                    </div>
                </div>
                <!--item 1 stop-->

                <!--div des deux photos sur mobile start-->
                <div class="container-fluid mx-auto text-center histoire-section-4-div-hidden mt-3">
                    <div class="row mx-auto text-center">
                        <figure class="col-12 my-3">
                            <img src="{{ asset('assets/img/atelier1.jpg') }}" loading="lazy" alt="photo de l'atelier de virtysens a somain"
                                 class="img-fluid border border-dark rounded mx-auto">
                            <figcaption class="hidden">L’atelier de Somain, où tout est fabriqué, y compris notre carte électronique</figcaption>
                        </figure>
                        <p class="histoire-section-4-img-mobile histoire-section-4-item-2 text-left mx-auto mt-3 text-info">
                            Notre atelier à Somain, où tout est fabriqué,
                            <br>
                            y compris notre carte électronique
                        </p>
                        <figure class="col-12 my-3">
                            <img src="{{ asset('assets/img/atelier2.jpg') }}" loading="lazy" alt="photo de  Maxence, agent de fabrication polyvalent, sait dorénavant fabriquer une capsule de A à Z."
                                 class="img-fluid border border-dark rounded mx-auto">
                            <figcaption class="hidden">Maxence, agent de fabrication polyvalent, sait dorénavant fabriquer une capsule de A à Z.</figcaption>
                        </figure>
                        <p class="histoire-section-4-img-mobile histoire-section-4-item-2 text-left mx-auto mt-3 text-info">
                            Maxence, agent de fabrication polyvalent,
                            <br>
                            sait dorénavant fabriquer une capsule de A à Z.
                        </p>
                    </div>

                </div>
                <!--div des deux photos sur mobile stop-->

                <!--item 2 start-->
                <div class="histoire-section-4-item mx-auto row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="histoire-section-4-item-1 produits-item-texte mx-auto col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 my-auto">
                        <p class="text-left mt-5">
                            Nous croyons en la capacité de chacun à progresser, surtout lorsqu’il est accompagné et animé par une mission qui fait sens.
                        </p>
                        <p class="text-left">
                            Nos valeurs sont <span class="font-weight-bolder">la Bienveillance</span>,
                            <span class="font-weight-bolder">la Confiance</span>,
                            <span class="font-weight-bolder">le Progrès</span> et
                            <span class="font-weight-bolder">le Partage</span>,
                            que nous mettons au service de notre mission :
                            <span class="font-weight-bolder">Faire du Bien au plus grand nombre</span>, grâce à notre capsule multi-sensorielle.
                        </p>
                        <p class="text-left">
                            L’histoire de Lilou et de Xavier, celle d’une fille aimée et aidée par son père courageux et généreux,
                            est devenue au fil du temps un challenge technologique et entrepreneurial, et au final
                            <span class="font-weight-bolder">une aventure humaine et solidaire</span> !
                        </p>
                    </div>
                    <div class="histoire-section-4-item-2 mx-auto col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-center">
                        <figure class="mt-5">
                            <img src="{{ asset('assets/img/atelier2.jpg') }}" loading="lazy" alt="photo de  Maxence, agent de fabrication polyvalent, sait dorénavant fabriquer une capsule de A à Z."
                                 title="Maxence, agent de fabrication polyvalent, sait dorénavant fabriquer une capsule de A à Z."
                                 class="histoire-section-4-img-pc img-fluid border border-dark rounded">
                            <figcaption class="hidden">Maxence, agent de fabrication polyvalent, sait dorénavant fabriquer une capsule de A à Z.</figcaption>
                        </figure>
                        <p class="histoire-section-4-img-pc histoire-section-4-item-2  text-left mx-auto my-auto text-info">
                            Maxence, agent de fabrication polyvalent,
                            <br>
                            sait dorénavant fabriquer une capsule de A à Z.
                        </p>
                    </div>
                </div>
                <!--item 2 stop-->
            </div>
        </section>
        <!--section 4 avec deux colonnes stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--section 5 l'equipe start-->
        <section class="histoire-section-1 container mx-auto text-center">
            <div class="row">
                <h3 class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    L’<strong>équipe VirtySens</strong> aujourd’hui  :  <br><br>
                    au service du <strong>bien-être</strong> du plus grand nombre !
                </h3>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto text-center mt-5">
                    <div class="row mx-auto text-center">

                        <div class="mx-auto d-flex justify-content-between align-items-start flex-wrap">
                            {% for membre in membres %}
                            {% if membre.visible %}
                            <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                                <figure class="mx-auto text-center">
                                    <img src="{{ asset('assets/img/' ~ membre.image) }}" loading="lazy" alt="photo de {{ membre.prenom }} {{ membre.nom }} | {{ membre.poste }}"
                                         class="img-fluid rounded border border-dark">
                                    <figcaption class="hidden">photo de {{ membre.prenom }} {{ membre.nom}} | {{ membre.poste }}</figcaption>
                                </figure>
                                <p class="team-legend col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
                                    {{ membre.prenom | upper }} {{ membre.nom | upper }} <br>
                                    <hr>
                                    {{ membre.poste | upper }}
                                </p>
                            </div>
                                {% endif %}

                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--section 5 l'equipe stop-->
    </main>


{% endblock %}
