{# page contact #}

{% extends 'base.html.twig' %}

{% block title %}VirtySens | Nous contacter{% endblock %}

{% block body %}


    <!--main start-->
    <main class="contact container-fluid mb-5">
        <!--section 1 titre start-->
        <section class="contact-section-1 container mx-auto text-center mt-5">
            <div class="row">
                <div class="mx-auto text-center container">
                    {% for message in app.flashes('message') %}
                        <div class="alert alert-success col-8 mx-auto text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <h3 class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 mt-3">
                    Pour recevoir des informations ou nous formuler une demande, merci
                    de compléter ce formulaire :
                </h3>
            </div>
        </section>
        <!--section 1 titre stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--formulaire de contact start-->
        <section class="contact-section-2 container mx-auto text-center mt-5">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    {# form de contact -------------------------------------------------------------------------------------------- #}

                    <div class="col-lg-8 col-md-10 mx-auto">
                        {{form_start(contactForm)}}
                            <div class="row mx-auto text-center">
                                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto text-left">
                                    <label for="email" class="required"> Email *</label>
                                    <br>
                                    {{form_widget(contactForm.email)}}
                                    {{form_errors(contactForm.email)}}

                                </div>

                                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto text-left">
                                    <label for="nom" class="required"> Nom </label>
                                    <br>
                                    {{form_widget(contactForm.nom)}}
                                    {{form_errors(contactForm.nom)}}
                                </div>
                                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto text-left">
                                    <label for="prenom" class="required"> Prénom </label>
                                    <br>
                                    {{form_widget(contactForm.prenom)}}
                                    {{form_errors(contactForm.prenom)}}
                                </div>
                            </div>
                            <div class="row mx-auto text-center">
                                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto text-left">
                                    <label for="fonction" class="required"> Fonction *</label>
                                    <br>
                                    {{form_widget(contactForm.fonction)}}
                                    {{form_errors(contactForm.fonction)}}
                                </div>
                                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto text-left">
                                    <label for="telephone" class="required"> Téléphone *</label>
                                    <br>
                                    {{form_widget(contactForm.telephone)}}
                                    {{form_errors(contactForm.telephone)}}
                                </div>
                            </div>

                            <div class="row mx-auto">
                                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
                                    <label for="objet" class="required"> Objet *</label>
                                    <br />
                                    {{form_widget(contactForm.objet)}}
                                </div>
                            </div>

                            <div class="form-group text-left">
                                <label for="contact_message" class="required"> Message *</label>
                                <br>
                                {{form_widget(contactForm.message)}}
                                {{form_errors(contactForm.message)}}
                            </div>

                        <!--captcha a decommenter -------------------------------------------------------------------------------->

                       <div class="form-group mx-auto text-left">
                            <label for="captcha" class="required mb-3">Cochez le captcha pour envoyer votre message</label>
                            <br>

                            <div class="mx-auto text-center">
                                {{form_widget(contactForm.captcha_checkvox) }}
                            </div>
                            {{form_errors(contactForm.captcha_checkvox) }}
                        </div>

                        <!--captcha a decommenter -------------------------------------------------------------------------------->


                        <div class="form-group">
                            {{form_widget(contactForm.envoyer)}}
                        </div>
                        {# Render CSRF token etc .#}
                        <div style="display:none">
                            {{ form_rest(contactForm) }}
                        </div>

                        {{form_end(contactForm)}}
                    </div>

                </div>
            </div>
        </section>
        <!--formulaire de contact stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--coordonness start-->
        <div class="container mx-auto text-center">


            <div class="row mx-auto d-flex justify-content-center align-items-start">

                <!--adresse atelier start-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto text-center">
                    <h4 class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 mb-1">
                        ATELIER ET SHOW-ROOM
                    </h4>
                    <p class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto">
                    <address>
                        547 rue Leonard de Vinci
                        <br><br>
                        ZA la Renaissance
                        <br><br>
                        59490 SOMAIN <br><br>
                        Hauts-de-France
                    </address>
                    </p>
                </div>
                <!--adresse atelier stop-->

                <!--maps start-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center mx-auto">
                    <h4 class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 text-uppercase mb-3">
                        plan d'accès
                    </h4>
                    <iframe class="border border-dark rounded"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2546.332460186853!2d3.278334996424193!3d50.34170418173506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2c0df330aecc5%3A0x9ac9a9f7cef00d2e!2s547%20Rue%20L%C3%A9onard%20de%20Vinci%2C%2059490%20Somain%2C%20France!5e0!3m2!1sfr!2sbe!4v1613748849941!5m2!1sfr!2sbe" width="80%" height="250" style="border:0;"
                            allowfullscreen="true" aria-hidden="false" tabindex="0">
                    </iframe>
                </div>
                <!--maps end-->
            </div>
            <div class="row mx-auto text-center">
                <!--ligne de separation doree start-->
                <div class="ligne-or">
                </div>
                <!--ligne de separation doree stop-->

                <!--video start-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto text-center my-5">
                    <h4 class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 mb-5">
                        Accèder à notre atelier
                    </h4>
                    <div class="embed-responsive embed-responsive-16by9 my-3 mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                        <iframe class="embed-responsive-item mx-auto border border-dark rounded" src="https://www.youtube.com/embed/1aiJM0sMmLs?rel=0&autoplay=1&mute=1"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <!--video stop-->

                <!--ligne de separation doree start-->
                <div class="ligne-or">
                </div>
                <!--ligne de separation doree stop-->

                <!--adresse siege social start-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto text-center">
                    <h4 class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 mb-5">
                        SIEGE SOCIAL
                    </h4>
                    <p class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto text-center">
                    <address>
                        55, rue Gustave Coliez
                        <br><br>
                        59146 Pecquencourt - France
                    </address>
                    </p>
                </div>
                <!--adresse siege social stop-->

                <!--coordonnee mail et tel start-->
                <div class="contact-coo col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto text-center">
                    <h4 class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5">
                        NOUS CONTACTER PAR EMAIL
                        <br> OU TELEPHONE
                    </h4>
                    <p class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto text-center">

                        <SCRIPT TYPE="text/javascript">
                            emailE = 'virtysens.com'
                            emailE = ('contact' + '@' + emailE)
                            document.write('<A class="text-uppercase link-xs" href="mailto:' + emailE + '">' + emailE + '</A>')
                        </script>

                        <NOSCRIPT>
                            Email address protected by JavaScript
                        </NOSCRIPT>

                        <br><br>

                        <SCRIPT TYPE="text/javascript">
                            telE = '61186670'
                            telE = ('+33' + '06' + telE)
                            document.write('<A class="text-uppercase link-xs" href="tel:' + telE + '">' + telE + '</A>')
                        </script>

                        <NOSCRIPT>
                            Phone number protected by JavaScript
                        </NOSCRIPT>

                    </p>
                </div>
                <!--coordonnee mail et tel stop-->

            </div>
        </div>
        <!--coordonness stop-->

    </main>

    <!--captcha js-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}
